
body{
    background-color: #000000;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px 0;
    
}


.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;  
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 150px 1fr;
    color: #fff;
}

.hero::before,::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    background-image:  radial-gradient(rgba(102, 101, 101, 1) 0.4px, transparent 0.4px), radial-gradient(rgba(102, 101, 101, 1) 0.4px, #000000 0.4px);
    background-size: 16px 16px;
    background-position: 0 0,8px 8px;
    z-index: -1;
}
/* nav*/

.nav{
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.IMG_logo{
    min-height: 100PX;
    max-height: 150PX;
    width: 5%;
}

.nav_link{
    margin-left: auto;
    padding: 0%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns:max-content;
    gap: 1em;
}

ul{
    list-style: none;
    
}

.nav_links{
    text-decoration: none;
    color: #fff;

}

/* hero container*/

.hero_container{
    margin: 2em auto;
    max-width: 800px;
    display: flex;
    padding: 0;
    align-items: center;
    color: white;
    

}
.hero_text{
    display: grid;
    grid-template-rows: min-content;
    grid-auto-flow: row;
}
.img_hero{
    max-width: 400px;
    max-height: 400px;
    display: block;
    margin-top: 15px;

}

/*projects sections*/

.projects_container{
    text-align: center;
    background-color: black;
    height: 500px;
    margin:2em auto;
}

.subtittle{
    color: white;
}

/* about me section */

.about{
    text-align: center;
    background-color: black;
    height: 500px;
    margin:2em auto;
    
}
  
.about_container{
margin: 2em auto;
max-width: 800px;
display: flex;
padding: 0;
align-items: center;
color: white;
gap:2em;

}

/*form*/
.form_contact{
    display: grid;
    background-color: rgba(105, 105, 106, 0.341);
    margin: 2em auto;
    width: 800px;
    height: 600px;
    align-content: center;
    border-radius: 5%;
}
.contact_form{ 
    
    color: rgb(169, 169, 169);
    display: grid;
    width: 600px;
    gap: 2em;
    align-content: center;
    margin: auto;
}
.message{
height: 100px;
}
